@charset "utf-8";

#warpper {
	width: 560px;
	margin: 20px auto 0px auto;
	text-align: left;
}

#container {
	border-top: 1px dotted #cccccc;
	background: url(../images/bgi_paper.jpg) no-repeat left 20px;
	padding-top: 58px;
	width: 520px;
	height: 295px;
	margin: 0px auto 20px auto;
}

#map {
	margin: 0px auto;
	width: 445px;
	padding: 1px;
	background: #ffffff;
}

#map:after {
	position: absolute;
	content: '';
	background: url(../images/img_turn_it_over.png) no-repeat left top;
	width: 69px;
	height: 78px;
	display: block;
	margin-top: -28px;
	margin-left: 412px;
}

.head {
	overflow: hidden;
}

h1 {
	float: left;
	width: 198px;
}

#nav {
	padding-top: 20px;
	float: left;
	overflow: hidden;
	list-style: none;
	width: 338px;
	margin-left: 20px;
}

#nav li {
	font-size: 0.9em;
	text-transform: uppercase;
	float: left;
	margin-left: 10px;
}

#nav li a {
	padding: 5px 10px;
	border: 1px solid #cccccc;
	display: inline-block;
}

.desc {
	border: 1px solid #cccccc;
	padding: 15px 15px 0px 15px;
	margin-bottom: 10px;
}

.detailTo {
	text-align: right;
}



.lightbox {
	position: absolute;
	width: 100px;
	height: 100px;
	margin-left: -50px;
	margin-top: -50px;
	left: 50%;
	top: 50%;
	-moz-box-shadow: 1px 1px 5px #cccccc;
}
