@charset "utf-8";

/* Universal
------------------------------*/
* {
	font-family: Sylfaen, Georgia, "Times New Romans", serif;
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
	font-size: 62.5%;
	color: #666666;
}

/* Headline
------------------------------*/
h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

p,
ol, ul,
dl dt, dl dd,
table th, table td {
	font-size: 1.4em;
	line-height: 140%;
}

p {
	margin-bottom: 15px;
}

a, span, em, strong, input, textarea, label {
	font-size: 100%;
}

/* Anchor
------------------------------*/
a:link {
	color: #003366;
}

a:visit {
	color: #FF6600;
}

a:hover {
	color: #FF9900;
}

img {
	border: none;
	vertical-align: bottom;
}